*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none; 
}
#leaderboard-ui{
    display: none;
}

body{
    padding-left: 25%;
}


main{
    margin: 0 auto;
    width: 70vw;
}

h1{
    font-size: 30px;
    padding-left: none;
    margin-top: 5vh;
    margin-bottom: 5vh;
    padding-left: 30px;
    border: 1px solid black ;
    background-color: rgba(10, 95, 10, 0.644);
    border-radius: 5px;
    width: 50%;
    font-family: fantasy;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    color: rgb(4, 71, 4);
    
}


.Rankinfo {
    width: 5%;
    background-color: rgba(156, 127, 127, 0);
    padding-left: 2%;
    color: rgb(255, 255, 255);
    font-weight: bold;
    

}

.Jaap{
    width: 7%;
    margin-right: 63px;
    background-color: rgba(156, 127, 127, 0);
    color: rgba(137, 43, 226, 0);
    font-weight: bold;

}

.PlayerName{
    width: 60%;
    background-color: rgba(156, 127, 127, 0);
    color: rgb(255, 255, 255);
    font-weight: bold;

    

}

.Killsinfo{
    width: 15%;
    background-color: rgba(156, 127, 127, 0);
    color: rgb(255, 255, 255);
    padding-left: 4%;
    font-weight: bold;


    
}

.Deathsinfo{

    background-color: rgba(156, 127, 127, 0);
    color: rgb(255, 255, 255);
    width: 13%;
    padding-left: 5%;
    font-weight: bold;


}

.KDinfo{
    background-color: rgba(156, 127, 127, 0);
    color: rgb(255, 255, 255);
    width: 15%;
    padding-left: 5%;
    font-weight: bold;


}

.Stats{
    width:100%;
    height: 50px;
    background:rgba(111, 116, 111, 0);
    margin-bottom: 15px;
    display:flex;
    font-size: 100%;
  }

  
.Stats2{
    width:100%;
    height: 10px;
    background:rgba(111, 116, 111, 0);
    margin-bottom: 15px;
    display:flex;
    font-size: 100%;
  }

.StatsList{
    list-style: none;
    display: flex;
    justify-content: center;
    width: 50%;
    
}

.Rank{
    display: flex;
    justify-content: center;
    align-items: center;
    width:5%;
    background-color: rgba(0, 0, 0, 0.507);
    color: white;
    height:100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    
}

.RankLogo > img{
    width: 100%;
    height: 100%;
    background-color: rgb(97, 96, 96);
    border: 2px solid rgb(97, 96, 96);
    
}

.Player{
    display: flex;
    align-items: center;
    width:44%;
    height:100%;
    background-color: rgba(97, 96, 96, 0.89);
    color: white;
    font-size: 15px;
}

.Kills{
    display: flex;
    justify-content: center;
    align-items: center;
    width:11.5%;
    background-color: rgba(0, 0, 0, 0.507);
    color: white;
    height:100%;
    font-size: 13px;
    padding-right: 1%;
    border-right: 1px solid black ;
}

.Deaths{
    display: flex;
    justify-content: center;
    align-items: center;
    width:11.5%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.507);
    color: white;
    font-size: 13px;
    padding-left: 1%;
    border-right: 1px solid black ;
    
}

.KD{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width:11.5%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.507);
    color: white;
    font-size: 13px;
    padding-left: 1%;
}

.StatsImage{
    display: flexbox; 
    list-style: none;
    position: absolute;
    width: 50%;
    max-width: 250px;
    margin-left: 1vw;

    
        
}

.YourStats{
    text-align: center;
    padding: 10%;
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: -40%;
    margin-bottom: -5%;
    border-radius: 5px;
    font-size: large;
    background-color: rgba(158, 43, 43, 0.651);
    color: white;

}
.YourStats:hover{
    background-color: rgba(158, 43, 43, 0.851);
}

.YourRank{
    padding-left: 2%;
    display: flex;
    align-content: center;
    justify-content: center;
    margin-bottom: 11px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.438);
    color: white;
    margin-top: 30%;

}


.PersonalRank > img{
    width: 100%;
    height: 12%;
    margin-bottom: 15%;
    
}

.nextrankimg > img{
    width: 100%;
    border-radius: 5px;
    
}

.PersonalStats{
    padding-left: 2%;
    display: flex;
    align-content: center;
    margin-bottom: 5%;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.438);
    color: white;
    
}

.nextrank{
    padding-left: 2%;
    display: flex;
    align-content: center;
    justify-content: center;
    margin-bottom: 5%;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.438);
    color: white;
    margin-top: 15%;
}

.Position{
    padding-left: 2%;
    display: flex;
    align-content: center;
    margin-top: 10%;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.651);
    color: white;
}

@media screen and (max-width: 900px){
    h1{
        font-size: 20px;
    }
}

@media screen and (min-width: 2400px){
    *{
        zoom: 1.05;
    }

    h1{
        width: 49%;
        margin-bottom: 40px;
    }
    .KDinfo{
        width: 17%;
    }
}

@media screen and (min-width: 3400px){
    *{
      zoom: 1.12;
    }
    h1{
        width: 47%;
        font-size: 35px;
        margin-bottom: 40px;
    }
    .KDinfo{
        width: 23%;
    }

}